<%@ taglib prefix="spring" uri="http://www.springframework.org/tags" %>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ taglib prefix="form" uri="http://www.springframework.org/tags/form" %>
<%@ page language="java" pageEncoding="UTF-8"%>
<%@ page contentType="text/html;charset=UTF-8" %>

<!-- navbar: include on every site -->
	<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
	  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <a class="navbar-brand" href="#"><img class="navbar-logo" src="/resources/images/icona.png" /></a>
	  <div class="collapse navbar-collapse" id="navbarNavDropdown">
	    <ul class="navbar-nav">
	      <li class="nav-item active">
	        <a class="nav-link" href="/index">Strona główna <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/films">Repertuar</a>
	      </li>
	      <li class="nav-item dropdown">
	      
	      <% request.setAttribute("isAdmin", request.isUserInRole("ROLE_ADMIN")); %>
		  <c:if test="${requestScope.isAdmin}">
		  	<!-- Zalogowany admin -->
		    <li class="nav-item">
		        <a class="nav-link" href="/adminPanel">Admin panel</a>
		      </li>
		  </c:if>
		  <c:if test="${!requestScope.isAdmin}">
		      <c:if test="${user.username != null}">
		      <!-- Zalogowany, nie admin -->
		        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          ${user.username}
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
		          <a class="dropdown-item" href="/myTickets">Moje bilety</a>
		          <!-- <a class="dropdown-item" href="#">Zapisane filmy</a> -->
		          <a class="dropdown-item" href="#">Ustawienia konta</a>
		        </div>
			  </c:if>
			  <c:if test="${user.username == null}">
			  	<!-- Niezalogowany -->
				<a class="nav-link" href="/login">Zaloguj się</a>
			  </c:if>
		  </c:if>
	      
	      </li>
	    </ul>
	    
	    <ul class="navbar-nav navbar-toggler-right">
	    	<li class="nav-item">
	    	<c:if test="${user.username == null}">
	    		<a class="nav-link" href="/register">Zarejestruj sie</a>
    		</c:if>
    		<c:if test="${user.username != null}">
    			<a class="nav-link" href="/login?logout">Wyloguj się</a>
    		</c:if>
	    	</li>
	    </ul>
	  </div>
	</nav>
	<!-- end of navbar -->