body {
    /* padding-top: 40px; */
    padding-bottom: 40px;
    background-color: #333333;
}

.form-signin {
	margin: 0 auto;
    max-width: 330px;
    padding: 15px;
    background-color: #FFB338;
    border: 2px solid #FFB338;
    border-radius: 5px;
}

.form-insert {
	margin: 0 auto;
    max-width: 800px;
    padding: 15px;
    background-color: #FFB338;
    border: 2px solid #FFB338;
    border-radius: 5px;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input {
    margin-top: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin button {
    margin-top: 10px;
}

.has-error {
    color: red
}
